dist/
# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Build output
coverage/
build/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# VSCode
.vscode/

# Misc
*.tgz

# Test
*.lcov

# Others
*.log

.github/instructions/*
target
.npmrc

deploy.sh
